.App {
  text-align: center;
}

.header {
  margin-top: 2%;
  margin-bottom: 3%;
}

.Form {
  margin-top: 20px;
  width: 70%
}

.Spinner {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Login {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.dashboardButton {
  width: 100%; 
   height: 50px;
   margin-top: 10%
   /* height: 100%; */

}
.successButton {
  width: 50%; 
   height: 50px;
   margin-top: 5%
   /* height: 100%; */

}
.row {
  margin-top: 10px
}

dropdown {
  margin-top: 50px
}

.container, .container-fluid {
  margin-top: 20px;
}
